.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #bd337859;
    background-size: cover;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 3px;
    margin-top: -15px;
    
  }
  
  .sidebar button {
    background-color: #19713cab;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top:30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .sidebar button:hover {
    background-color: #3b6ca0;
  }
  
  .sidebar button:active {
    background-color: #3c76b1;
}

.sidebar .modal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sidebar .modal-content {
  font-size: 14px;
  line-height: 1.5;
}